body {
    margin: 0;
    background-color: #52D3D8;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    font-size: 18px;
    background-color: #dedede73;
}

#projectsnav {
    color:  #38419D;
}

#aboutnav {
    color: #38419D;
}

#newsnav {
    color: #38419D;
}

#contactsnav {
    color: #38419D;
}

#ourcardnav {
    color: #38419D;
}

#gallerynav {
    color: #38419D;
}

#projectsnav:hover {
    color: #607274;
    background-color: whitesmoke;
    padding: 4px;
}

#aboutnav:hover {
    background-color: whitesmoke;
    padding: 4px;
}

#newsnav:hover {
    color: #607274;
    background-color: whitesmoke;
    padding: 4px;
}

#contactsnav:hover {
    color: #607274;
    background-color: whitesmoke;
    padding: 4px;
}
    
#ourcardnav:hover {
    color: #607274;
    background-color: whitesmoke;
    padding: 4px;
}

#gallerynav:hover {
    color: #607274;
    background-color: whitesmoke;
    padding: 4px;
}

h1 {
    color: #38419D;
    padding: 15px;
    margin-left: 600;
}

p {
    color: #0F2167;
    font-size: 20px;  
    padding: 20px;
    margin: 40px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: groove;
    width: 400px;
    margin-top: 30px;
}

th {
    background-color: #B80000;
    color: #FBFADA;
}

#firstrow {
    background-color: #FBFADA;
}

#secondrow {
    background-color: #FBFADA;
}

#thirdrow {
    background-color: #FBFADA;
}

#firstrow:hover {
    cursor: pointer;
    background-color: #b6b598;
    color: #436850;
}

#secondrow:hover {
    cursor: pointer;
    background-color: #b6b598;
    color: #436850;
}

#thirdrow:hover {
    cursor: pointer;
    background-color: #b6b598;
    color: #436850;
}

#fb {
    border: 1px solid #3081D0;
    background-color: #3081D0;
    color: white;
    padding: 10px 10px;
}

#twitter {
    border: 1px solid #6DB9EF;
    background-color: #6DB9EF;
    color: white;
    padding: 10px 10px;
}

#instagram {
    border: 1px solid #CE5A67;
    background-color: #CE5A67;
    color: white;
    padding: 10px 10px;
}

#linkedin {
    border: 1px solid #3081D0;
    background-color: #3081D0;
    color: white;
    padding: 10px 10px;
}

#github {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 10px;
}

#youtube {
    border: 1px solid #D71313;
    background-color: #D71313;
    color: white;
    padding: 10px 10px;
}

.panel {
    display: flex;
    flex-direction: column;
    margin-right: 1435px;
    position: fixed;
    bottom: 250px;
}

#nature {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

#rate {
    color: black;
    font-size: 20px;
}

.stars {
    color: #D71313;
}

#opinion {
    border: 2px solid #8e9191;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 60px;
    width: 320px;
}

#greenbutton {
    border: 1px solid rgb(59, 185, 59);
    border-radius: 4px;
    background-color: rgb(59, 185, 59);
    padding:  10px 20px 10px 20px;
    width: 90px;
    margin-bottom: 80px;
    color: whitesmoke;
}

#redbutton {  
    border: 1px solid red;
    border-radius: 4px;
    background-color: red;
    padding:  10px 20px 10px 20px;
    margin-left: 130px; 
    color: whitesmoke;
}

.commenthere {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
}

.important {
    display: flex;
    flex-direction: row;
    border: 5px solid red;
    border-radius: 8px;
    background-color: white;
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
}

#justemail {
    padding: 10px 20px 10px 50px;
    border-radius: 5px;
    border-color: #52D3D8;
    margin-top: 10px;
}

#justbutton {
    border-color: #52D3D8;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}
.somelinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.emailaddress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hereweare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
