body {
    margin: 0;
    background-color: #8ACDD7;
}

.icon {
    color: #FFE6E6;
    font-size: 25px;
    width: 140px;
   
}

a {
    text-decoration: none;
    color: #FFE6E6;
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 1020px;
   
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #E1AFD1;
    background-color: #E1AFD1;
    border-radius: 10px;
    padding: 20px;
}

.menu a:hover {
    color: #7469B6;
}

.contactUs {
    color: antiquewhite;
    font-size: 25px;
}

.talking {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.two {
    display: flex;
    flex-direction: column;
}

.fullinfo {
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    margin-top: 100px;
}

input {
    padding: 5px;
    border-color: rgb(171, 170, 170);
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#fb {
    border: 1px solid #3081D0;
    border-radius: 20px;
    background-color: #3081D0;
    color: white;
    padding: 10px 13px;
}

#twitter {
    border: 1px solid #6DB9EF;
    border-radius: 20px;
    background-color: #6DB9EF;
    color: white;
    padding: 10px 10px;
}

#instagram {
    border: 1px solid #CE5A67;
    border-radius: 20px;
    background-color: #CE5A67;
    color: white;
    padding: 10px 11px;
}

#linkedin {
    border: 1px solid #3081D0;
    border-radius: 20px;
    background-color: #3081D0;
    color: white;
    padding: 10px 11px;
}

#youtube {
    border: 1px solid #D71313;
    border-radius: 20px;
    background-color: #D71313;
    color: white;
    padding: 10px 9px;
}

.usefulInfo {
    width: 200px;
}

.firstColumn {
    display: flex;
    flex-direction: column;
}


.secondColumn {
    display: flex;
    flex-direction: column;
}


.thirdColumn {
    display: flex;
    flex-direction: column;
}

.fourthColumn {
    display: flex;
    flex-direction: column;
}

.theEnd {
    display: flex;
    justify-content: space-around;
    color: #FFE6E6;
    margin: 40px;
}