@media only screen and (max-width: 500px) {
    body  {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .body {
        width: 80%;
        padding: 0;
    }
}

@media only screen and (min-width: 1025px) {
    .body {
        width: 100%;
        padding: 0;
    }
}

@font-face {
    font-family: "akademiuri";
    src: url(/fonts/akademiuri.ttf);
}

* {
    font-family: akademiuri, serif;
}

body {
    margin: 0;
    background-color: rgb(238,234,226);
}

#logo {
    position: absolute;
    top: 0;
    left: 30px;
    width: 200px;
}

#logoImage {
    width: 150px;
}

#menu {
    position: absolute;
}

#menu a {
    position: fixed;
    top: 23px;
    right: 163px;
    font-size: 40px;
    color: rgb(208,173,104);
}

#soon {
    position: absolute;
    color: rgb(6,58,83);
    font-size: 30px;
    top: 270px;
    left: 670px;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes moving {
    from {
        font-size: 60px;
    }
    to {
        font-size: 30px;
    }
}